<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Tasks</h1>
        <hr><br><br>
        <button type="button" class="btn btn-success btn-sm">Agregar</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Estado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(task, index) in tasks" :key="index">
              <td>{{ task.id_type }} </td>
              <td>{{ task.description }}</td>
              <td>{{ task.status }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-warning btn-sm">Actualizar</button>
                  <button type="button" class="btn btn-danger btn-sm">Borrar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      tasks: [],
    };
  },
  methods: {
    getTasks() {
      const path = 'http://localhost:5000/api/tasks';
      axios.get(path)
        .then((res) => {
          this.tasks = res.data.items;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
  created() {
    this.getTasks();
  },
  addTask(payload) {
    const path = 'http://localhost:5000/api/tasks';
     axios.post(path, payload)
      .then(() => {
        this.getTasks();
      })
      .catch((error) => {
        // eslint-disable-next-line
        console.log(error);
        this.getTasks();
        });
      },
    initForm() {
     this.addTaskForm.id_type = '';
     this.addTaskForm.descripcion = '';
     this.addTaskForm.status = '';
   },
    onSubmit(evt) {
     evt.preventDefault();
     this.$refs.addTaskModal.hide();
     const payload = {
       id_type: this.addTaskForm.id_type,
       description: this.addTaskForm.description,
       status: this.addTaskForm.status,
     };
     this.addTak(payload);
     this.initForm();
   },
    onReset(evt) {
     evt.preventDefault();
     this.$refs.addTaskModal.hide();
     this.initForm();
   },
 },
 created() {
   this.getTasks();
 },
};
</script>
